<!DOCTYPE html>
<html lang="en" ng-app="eventsApp">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Event Registration</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
    <base href="@Url.Content("~")">
</head>
<body>
	<div class="container">
		<div class="navbar">
			<div class="navbar-inner">
				<ul class="nav">
					<li><a href="/newEvent">Create Event</a></li>
                    <li><a href="/sampleDirective">Sample Directive</a></li>
                    <li><a href="/editProfile">Edit Profile</a></li>
				</ul>
			</div>
		</div>

        <ng-view>@RenderBody()</ng-view>

	</div>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@Scripts.Render("~/bundles/angular")
	@Scripts.Render("~/bundles/eventreg")
	@RenderSection("scripts", required: false)
</body>
</html>
